doctype 5
html(lang="en")
  head
    title UNTV - Remote
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", sizes="196x196", href="/icon-highres.png")
    link(rel="shortcut icon", sizes="128x128", href="/icon.png")
    link(rel="apple-touch-icon", sizes="128x128", href="/icon.png")
    link(rel="apple-touch-icon-precomposed", sizes="128x128", href="/icon.png")
    link(rel="stylesheet", type="text/less", href="/styles/remote.less")
    script(type="application/javascript", src="/vendor/less-1.5.1.js")
    script(type="application/javascript", src="/vendor/jquery-2.0.3.js")
    script(type="application/javascript", src="/vendor/jquery-touchswipe-1.6.5.js")
    script(type="application/javascript", src="/socket.io/socket.io.js")
    script(type="application/javascript", src="/scripts/remote-interface.js")
  body
    #container
        block content
