extends layout
block content
  //- #trackpad
  #dpad
    button(data-action="scroll:up") &#8593;
    .middle-row
      button(data-action="scroll:left") &#8592;
      button(data-action="go:select") Select
      button(data-action="scroll:right") &#8594;
    button(data-action="scroll:down") &#8595;
  //- #options
  #controls
    input(data-action="seek", type="range" value="0")
    button(data-action="menu:toggle") Menu
    button(data-action="player:prev") Back
    button(data-action="player:toggle") Play
    button(data-action="player:pause") Pause
    button(data-action="player:next") Forward
